/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Georgia', serif;
    background: linear-gradient(to bottom, #d2b48c, #f5deb3);
    color: #2c2c2c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  header h1 {
    font-size: 2.8rem;
    color: #4b2e0e;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Garamond', serif;
  }
  
  .container {
    background: #fff8e7;
    border: 2px solid #c6a16e;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 450px;
    text-align: center;
  }
  
  p {
    font-size: 1.1rem;
    margin-bottom: 15px;
    font-style: italic;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: bold;
    color: #4b2e0e;
  }
  
  textarea,
  input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #c6a16e;
    border-radius: 10px;
    font-size: 16px;
    background: #fffdf7;
    color: #4b2e0e;
    font-family: 'Georgia', serif;
  }
  
  textarea:focus,
  input:focus {
    outline: none;
    border: 2px solid #b88a5b;
  }
  
  textarea {
    resize: none;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  button {
    background: #c6a16e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    width: 48%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  button:hover {
    background: #b88a5b;
  }
  
  .output {
    margin-top: 20px;
    background: #fffdf7;
    padding: 10px;
    border: 1px solid #c6a16e;
    border-radius: 10px;
    font-family: 'Georgia', serif;
  }
  
  #result {
    font-size: 1.3rem;
    word-wrap: break-word;
    color: #4b2e0e;
  }
  
 
  footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
    text-align: center;
    color: #4b2e0e;
    font-style: italic;
    width: 100%;
    padding: 10px 0;

  }